<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Web application layout</title>
  </head>
  <body>
    <!-- <div class="container">
      <nav class="main-nav">Nav</nav>
      <header class="row">
        <img src="" alt="" class="nav-logo" />

        <ul class="nav">
          <li><a href="" class="nav-li">New</a></li>
          <li><a href="" class="nav-li">Reply</a></li>
          <li><a href="" class="nav-li">Forward</a></li>
          <li><a href="" class="nav-li">Mark unread</a></li>
        </ul>
      </header>
      <div class="email-li"></div>
      <div class="email-view"></div>
      <div class="additional-info"></div>
    </div> -->
    <div class="container">
      <nav>Nav</nav>
      <menu>
        <button>New</button>
        <button>Reply</button>
        <button>Forward</button>
        <button>Mark unread</button>
        <button>Trash</button>
      </menu>
      <section>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
        <div class="email">Email 1</div>
      </section>
      <main>Email view</main>
      <aside>Additional info</aside>
    </div>
  </body>
</html>
